@extends base.html

<% block content %>
<h2>Описание</h2>
<p>Данный сайт представляет собой электронную базу данных содержащую экспериментальные данные полученные в лаборатории электронного строения и квантовохимического моделирования кафедры теоритической и эксперементальной физики ШЕН ДВФУ.</p>
<h2>Инструкция</h2>

<p>В данный момент инструкции отсутствуют.<p>
<!-- <ul class="nav nav-tabs">
    <li class="active"><a href="#A" data-toggle="tab">Поиск молекулы</a></li>
    <li><a href="#B" data-toggle="tab">Добавление молекулы</a></li>
</ul>
<div class="tabbable">
    <div class="tab-content">
        <div class="tab-pane active" id="A">
            <p>Для поиска молекулы введите брутто-форумулу в строку поиска, расположенную в самом верху страницы.<br><br>
                После чего нажмите кнопку <button class="btn btn-default" onclick=""/>Найти</button><br><br>
                Вам отобразятся результаты поиска, кликнув на идентификатор молекулы вы попадете на страницу с экспериментальными данными.<br><br></p>
        </div>
        <div class="tab-pane" id="B">
            <p>Перейдите по ссылке "<a href="<#api.that('add')#>">Добавить молекулу</a>".</p>
        </div>
    </div>
</div> -->
<% endblock %>