@extends base.html

<% block content %>
<h1>Добавление</h1>
<form id="addForm" class="form-horizontal" role="form" method="post">
    <div class="form-group">
        <label for="inputGrossFormula" class="col-sm-4 control-label">Брутто-формула</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputGrossFormula" name="formula">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPicture" class="col-sm-4 control-label">Рисунок соединения</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputPicture" name="picture">
        </div>
    </div>
    <div class="form-group">
        <label for="inputCommonName" class="col-sm-4 control-label">Общепринятое название</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputCcommonName" name="baseName">
        </div>
    </div>
    <div class="form-group">
        <label for="inputCodeName" class="col-sm-4 control-label">Кодовое обозначение</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputCodeName" name="codeName">
        </div>
    </div>
    <div class="form-group">
        <label for="inputNomenclatureName" class="col-sm-4 control-label">Название по номенклатуре</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputNomenclatureName" name="nomeName">
        </div>
    </div>
    <div class="form-group">
        <label for="inputNomenclatureNameEng" class="col-sm-4 control-label">Название по номенклатуре (англ.)</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputNomenclatureNameEng" name="nomeNameEng">
        </div>
    </div>
    <div class="form-group">
        <label for="inputKeywords" class="col-sm-4 control-label">Ключевые слова</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputKeywords" name="keywords">
        </div>
    </div>
    <div class="form-group">
        <label for="inputClasses" class="col-sm-4 control-label">Класс</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputClasses" name="classes">
        </div>
    </div>
    <div class="form-group">
        <label for="inputTable" class="col-sm-4 control-label">Содержимое</label>
        <div class="col-sm-8">
            <textarea class="form-control" id="inputTable" name="content" rows="8" style="resize: vertical;"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="inputSources" class="col-sm-4 control-label">Литература</label>
        <div class="col-sm-8">
            <textarea class="form-control" id="inputSources" name="literature" rows="4" style="resize: vertical;"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button id="btnSubmit" type="submit" class="btn btn-default">Сохранить</button>
        </div>
    </div>
</form>
<% endblock %>
<% block js %>
<script type="text/javascript" src="<#api.asset('js/tinymce/tinymce.min.js')#>"></script>
<script type="text/javascript">
            tinymce.init({
                selector: "textarea",
                plugins: [
                    "autolink lists link image preview",
                    "code fullscreen",
                    "media table paste"
                ]
            });

    $("form#addForm").submit(function (e) {

        $("#btnSubmit").prop('disabled', true);
        
        tinyMCE.get("inputTable").save();
        tinyMCE.get("inputSources").save();
        
        var formData = {};
        var Form = this;

        $.each($('form#addForm').serializeArray(), function (_, kv) {
            formData[kv.name] = kv.value;
        });
        console.log(formData);

        $.ajax({
            url: window.location.pathname,
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(formData),
            success: function (data, msg) {
                console.log(data);
                $("form#addForm").html("Сохранено<br><br><a href=\"" + data.url + "\">Продолжить</a>");
            },
            error: function (jqXHR, msg, throws) {
                console.log(jqXHR);
                console.log(msg);
                console.log(throws);
                $("form#addForm").html("Ошибка");
            }
        });

        e.preventDefault();
        return false;
    });
</script>
<% endblock %>