@extends base/base_main.html

<% block content %>
<% var Molecule = Java.type("ru.lesqm.db.logic.Molecule"); %>
<div class="page-header">
    <div class="pull-left">
        <h1>Изменения</h1>
    </div>
    <div class="pull-right">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="fa fa-check"></i>
                    Список последних изменений
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered">
                    <thead>
                        <tr>
                            <th>Дата / Время</th>
                            <th>Ид.</th>
                            <th>Автор</th>
                            <th>Тип</th>
                            <th>Формула</th>
                            <th>Об. название</th>
                            <th>Меж. ном.</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < data.size(); i++ ) { %>

                        <% var m = data.get(i); %>
                        <% var ctype = "неизвестно";
                        switch(m.getType()) {
                        case 0: ctype = "создание"; break;
                        case 1: ctype = "изменение"; break;
                        case 2: ctype = "удаление"; break;
                        } %>

                        <% var hmid = Molecule.hmid.encode(m.getMid()); %>
                        <tr>
                            <td><# m.getDate() #></td>
                            <td><# hmid #></td>
                            <td><# m.getUserName() #></td>
                            <td><# ctype #></td>
                            <td><% if(m.getType() != 3 && m.getFormula() != null ) { %><# m.getFormula() #><% } %></td>
                            <td><% if(m.getType() != 3 && m.getBaseName() != null ) { %><# m.getBaseName() #><% } %></td>
                            <td><% if(m.getType() != 3 && m.getNomeName() != null ) { %><# m.getNomeName() #><% } %></td>
                            <td>
                                <a href="@{api.that('view/' + hmid)}" title="Открыть"><i class="fa fa-folder-open-o"></i></a>&nbsp;&nbsp;&nbsp;
                                <a href="@{api.that('edit/' + hmid)}" title="Редактировать"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
				<a href="@{api.that('delete/' + hmid)}" title="Удалить"><i class="fa fa-remove"></i></a>&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<% endblock %>