@extends base/base_main.html
<% block title %>- Поиск<% endblock %>
<% block content %>
<% var data = ctx.get('lm'); %>
<% var Molecule = Java.type("ru.lesqm.db.logic.Molecule"); %>

<div class="row">
    <div class="col-sm-12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3><i class="fa fa-search"></i>Результаты поиска</h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin" id="searchTable">
                    <thead>
                        <tr>
                            <th>Ид.</th>
                            <th>Брутто-формула</th>
                            <th>Общепринятое название</th>
                            <th>Класс</th>
                            <th>Кл. слова</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < data.size(); i++ ) { %>

                        <% var m = data.get(i); %>
                        <% var hmid = Molecule.hmid.encode(m.getId()); %>
                        <tr>
                            <td><# hmid #></td>
                            <td><# m.getFormula() #></td>
                            <td class='hidden-350'><# m.getBaseName() #></td>
                            <td><% for(var j = 0; j < m.getMClasses().size(); j++) { %><a href="@{that('search') + '?q=%22' + m.getMClasses().get(j).getName() + '%22'}" class="badge alert-info"><# m.getMClasses().get(j).getName() #></a><% } %></td>
                            <td><% for(var j = 0; j < m.getKeywords().size(); j++) { %><a href="@{that('search') + '?q=%22' + m.getKeywords().get(j).getName() + '%22'}" class="badge alert-info"><# m.getKeywords().get(j).getName() #></a><% } %></td>

                            <td class='hidden-480'>
                                <a href="@{that('view', hmid)}" title="Открыть"><i class="fa fa-folder-open-o"></i></a>&nbsp;&nbsp;&nbsp;
                                <a href="@{that('edit', hmid)}" title="Редактировать"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
                                <a href="@{that('delete', hmid)}" title="Удалить"><i class="fa fa-remove"></i></a>&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <!-- 
                <div class="table-pagination">
                    <a href="#" class='disabled'>First</a>
                    <a href="#" class='disabled'>Previous</a>
                    <a href="#" class='disabled'>1</a>
                    <a href="#" class='disabled'>Next</a>
                    <a href="#" class='disabled'>Last</a>
                </div>
                -->
            </div>
            <script>
                $(document).ready(function () {
                    $('#searchTable').DataTable({
                        "language": {
                            "decimal": "",
                            "emptyTable": "Нет данных для отображения",
                            "info": "Отображено с _START_ по _END_ из _TOTAL_ элементов",
                            "infoEmpty": "Нечего отображать",
                            "infoFiltered": "(filtered from _MAX_ total entries)",
                            "infoPostFix": "",
                            "thousands": ",",
                            "lengthMenu": "Отображать по _MENU_ элементов",
                            "loadingRecords": "Загрузка...",
                            "processing": "Обработка...",
                            "search": "Поиск:",
                            "zeroRecords": "Подходящих элементов не найдено",
                            "paginate": {
                                "first": "Первая",
                                "last": "Последняя",
                                "next": "Далее",
                                "previous": "Назад"
                            },
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            }
                        }
                    });
                });
            </script>
        </div>
    </div>
</div>
<% endblock %>