@extends base.html

<% block content %>
<% var Molecule = Java.type("ru.lesqm.db.logic.Molecule"); %>

<h2>Список изменений</h2>
<table class="table">
    <tr>
        <td>Дата</td>
        <td>Ид.</td>
        <td>Автор</td>
        <td>Тип изменения</td>
        <td>Брутто-формула</td>
        <td>Общепринятое название</td>
        <td>Название по меж. ном.</td>
        <td></td>
    </tr>
    <% for(var i = 0; i < data.size(); i++ ) { %>
    
    <% var m = data.get(i); %>
    <% var ctype = "неизвестно";
    switch(m.getType()) {
    case 0: ctype = "создание"; break;
    case 1: ctype = "изменение"; break;
    case 2: ctype = "удаление"; break;
    } %>
    
    <% var hmid = Molecule.hmid.encode(m.getMid()); %>
    <tr>
        <td><# m.getDate() #></td>
        <td><% if(m.getType() != 2) { %>
            <a href="@{api.that('view/' + hmid)}"><# hmid #></a>
            <% } else { %>
            <# hmid #>
            <% } %></td>
        <td><# m.getUserName() #></td>
        <td><# ctype #></td>
        <td><% if(m.getType() != 3 && m.getFormula() != null ) { %><# m.getFormula() #><% } %></td>
        <td><% if(m.getType() != 3 && m.getBaseName() != null ) { %><# m.getBaseName() #><% } %></td>
        <td><% if(m.getType() != 3 && m.getNomeName() != null ) { %><# m.getNomeName() #><% } %></td>
        <td><a href="@{api.that('view/' + hmid)}">Открыть</a></td>
    </tr>
    <% } %>
</table>	
<% endblock %>
