@extends base/base_main.html

<% block content %>
<% var data = ctx.get('m'); %>
<% var Molecule = Java.type("ru.lesqm.db.logic.Molecule"); %>
<% var hmid = Molecule.hmid.encode(data.getId()); %>
<div class="page-header">
    <div class="pull-left">
        <h1>Просмотр</h1>
    </div>
    <div class="pull-right">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-content">
                <table id="user" class="table table-bordered table-striped table-force-topborder" style="clear: both">
                    <tbody>
                        <tr>
                            <td width="30%">Ид.</td>
                            <td width="70%" class='hidden-480'>
                                <span class="muted"><# hmid #></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Брутто-формула</td>
                            <td>
                                <span class="muted"><# data.getFormula() #></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Кодовое обозначение</td>
                            <td>
                                <span class="muted"><# data.getCodeName() #></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Рисунок соединения</td>
                            <td>
                                <span class="muted"><img src="@{data.getPicture()}"/></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Общепринятое название</td>
                            <td>
                                <span class="muted"><# data.getBaseName() #></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Название по номенклатуре</td>
                            <td>
                                <span class="muted"><# data.getNomeName() #></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Название по номенклатуре (англ.)</td>
                            <td>
                                <span class="muted"><# data.getNomeNameEng() #></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Класс</td>
                            <td>
                                <% for(var i = 0; i < data.getMClasses().size(); i++) { %><a href="@{that('search') + '?q=%22' + data.getMClasses().get(i).getName() + '%22'}" class="badge alert-info"><# data.getMClasses().get(i).getName() #></a><% } %>
                            </td>
                        </tr>
                        <tr>
                            <td>Ключевые слова</td>
                            <td>
                                <% for(var i = 0; i < data.getKeywords().size(); i++) { %><a href="@{that('search') + '?q=%22' + data.getKeywords().get(i).getName() + '%22'}" class="badge alert-info"><# data.getKeywords().get(i).getName() #></a><% } %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-title">
                <h4>Содержимое</h4>
            </div>
            <div class="box-content"><# data.getContent() #></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-title">
                <h3>
                    Литература
                </h3>
            </div>
            <div class="box-content"><# data.getLiterature() #></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-content">
                <a href="@{that('edit', hmid)}" class="btn btn-primary">Редактировать</a>
                <a href="@{that('delete', hmid)}" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>
</div>
<% endblock %>