<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <title>DB.LESQM <% block title %><% endblock %></title>
        <link rel="stylesheet" href="@{asset('css/bootstrap.min.css')}">
        <link rel="stylesheet" href="@{asset('css/plugins/jquery-ui/jquery-ui.min.css')}">
        <link rel="stylesheet" href="@{asset('css/plugins/icheck/all.css')}">
        <link rel="stylesheet" href="@{asset('css/style.css')}">
        <link rel="stylesheet" href="@{asset('css/themes.css')}">
        <link rel="stylesheet" href="@{asset('css/common.css')}">
        <script src="@{asset('js/jquery.min.js')}"></script>
        <script src="@{asset('js/common.js')}"></script>
        <script src="@{asset('js/plugins/jquery-ui/jquery-ui.js')}"></script>
        <script src="@{asset('js/bootstrap.min.js')}"></script>
	<script src="@{asset('js/plugins/validation/jquery.validate.min.js')}"></script>
	<script src="@{asset('js/plugins/validation/additional-methods.min.js')}"></script>
        <script src="@{asset('js/plugins/icheck/jquery.icheck.min.js')}"></script>
        <script src="@{asset('js/plugins/datatables/jquery.dataTables.min.js')}"></script>
	<script src="@{asset('js/eakroko.js')}"></script>
        <script src="@{asset('js/application.min.js')}"></script>
        <!--[if lte IE 9]>
            <script src="@{asset('js/plugins/placeholder/jquery.placeholder.min.js')}"></script>
            <script>
                $(document).ready(function() {
                    $('input, textarea').placeholder();
                });
            </script>
        <![endif]-->
        <link rel="shortcut icon" href="@{asset('img/favicon.ico')}" />
    </head>
<% block header %><% endblock %>
<% block content %><% endblock %>
<% block footer %><% endblock %>
</html>