@extends base/base.html

<% block header %>
<body data-layout="fixed">
    <div id="navigation">
        <div class="container-fluid">
            <a href="/" id="brand">DB.LESQM</a>
            <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Навигация (вкл./выкл.)">
                <i class="fa fa-bars"></i>
            </a>
            <ul class='main-nav'>
                <li class='active'><a><span>Панель</span></a></li>
            </ul>
            <div class="user">
                <ul class="icon-nav">
                    <li class='dropdown language-select'>
                        <a href="#" class='dropdown-toggle' data-toggle="dropdown">
                            <img src="@{api.asset('img/demo/flags/ru.png')}" alt="">
                            <span>RU</span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#"><img src="@{api.asset('img/demo/flags/us.gif')}" alt=""><span>English (недоступно)</span></a></li>
                        </ul>
                    </li>
                </ul>
                <div class="dropdown">
                    <a href="#" class='dropdown-toggle' data-toggle="dropdown"><# ctx.getSession().get('user').getName() #><img src="@{api.asset('img/user-enable.png')}" alt=""></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#">Профиль (недоступно)</a></li>
                        <li><a href="#">Настройки (недоступно)</a></li>
                        <li><a href="@{api.that('signout')}">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="content">
        <div id="left" class="no-resize">
            <form method="get" action="@{api.that('search')}" class='search-form'>
                <div class="search-pane">
                    <input type="text" name="q" placeholder="Поиск молекул" value="@{ctx.getRequest().getQuery().get('q') != null ? api.escape(ctx.getRequest().getQuery().get('q').get(0)) : ''}">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
            <div class="subnav">
                <div class="subnav-title">
                    <a href="#" class='toggle-subnav'><i class="fa fa-angle-down"></i><span>Навигация</span></a>
                </div>
                <ul class="subnav-menu">
                    <li><a href="@{api.that('add')}"><i class="fa fa-plus"></i> | Добавить соединение</a></li>
                    <!-- <li class='dropdown'>
                        <a href="#" data-toggle="dropdown">Инструкции</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Добавление</a></li>
                            <li><a href="#">Поиск</a></li>
                            <li><a href="#">Изменения</a></li>
                        </ul>
                    </li> -->
                    <li><a href="@{api.that('changes/add')}"><i class="fa fa-refresh"></i> | Добавления</a></li>
                    <li><a href="@{api.that('changes/all')}"><i class="fa fa-refresh"></i> | Все изменения</a></li>
                    <li><a href="@{api.that('contacts')}"><i class="fa fa-envelope-o"></i> | Контакты</a></li>
                    <li><a href="@{api.that('about')}"><i class="fa fa-gears"></i> | О системе</a></li>
                </ul>
            </div>
            <div class="subnav">
                <div class="subnav-title">
                    <a href="#" class='toggle-subnav'>
                        <i class="fa fa-angle-down"></i>
                        <span>Пользователи</span>
                    </a>
                </div>
                <%
                var users = ctx.getApp().getDatabase().getUserAll();
                                
                %>
                <div class="subnav-content">
                    <ul class="userlist">
                        <% for(var i = 0; i < users.size(); i++ ) { %>

                        <% var u = users.get(i); %>
                        <li>
                            <a href="#"><img src="@{api.asset('img/user-alt.png')}" alt=""></a>
                            <div class="user">
                                <span class="name" style="white-space: nowrap; text-overflow: clip; width: 20px; display: block;"><# u.getName() #></span>
                                <span class="position">Редактор</span>
                            </div>
                            <!-- <div class="status active"><i class="fa fa-circle"></i></div> -->
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <div id="main">
            <div class="container-fluid">
                
                <!--
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@{api.that()}">Главная</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="@{api.that('changes')}">Изменения</a></li>
                    </ul>
                </div>
                -->
                <% endblock %>
                <% block footer %>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>DB.LESQM<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="#">Контакты</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="http://lesqm.ru">Лаборатория ЭСиКХМ</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>Создано на основе <a href="https://github.com/bunjlabs/Fuga-Framework">Fuga Framework</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>2015</p>
        <a href="#" class="gototop">
            <i class="fa fa-arrow-up"></i>
        </a>
    </div>
</body>
<% endblock %>
