@extends base/base_main.html
<% block title %>- О системе<% endblock %>
<% block content %>

<div class="page-header">
    <div class="pull-left">
        <h1>О системе</h1>
    </div>
    <div class="pull-right">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-content">
                <p>Данный сайт представляет собой электронную базу данных содержащую экспериментальные данные полученные в лаборатории электронного строения и квантовохимического моделирования кафедры теоритической и эксперементальной физики ШЕН ДВФУ.</p>
		<p>Дополнительная информация появится позже.</p>                
            </div>
        </div>
    </div>
</div>
<% endblock %>