@extends base/base_main.html

<% block content %>

<div class="page-header">
    <div class="pull-left">
        <h1>Контакты</h1>
    </div>
    <div class="pull-right">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-content">
                <p>Webmaster сайта лаборатории ЭСКХМ: webmaster@lesqm.ru<br><br>
                    Специалисты ведущие базу данных:<br> <br>
                    Шурыгин Антон, email: solid.valid@gmail.com<br><br>
                    Шурыгин Артем, email: show.vars@gmail.com</p>
            </div>
        </div>
    </div>
</div>
<% endblock %>